<system.webServer>
  <rewrite>
    <rules>
      <rule name="Redirect to Discord" stopProcessing="true">
        <match url="^discord$" />
        <action type="Redirect" url="https://discord.com/invite/yYxn884cHT" redirectType="Permanent" />
      </rule>
    </rules>
  </rewrite>
</system.webServer>